
  <div class="logo">
    <img src="../assets/img/filed-logo-01.png">
  </div>
  <h1>{{title}}</h1>
<div>
  <p class="heading1">
    Book a demo today and get two weeks for free. Why?
  </p>
</div>
<div>
  <button class="btn btn-primary">
    Home
  </button>
  <div>
    <input type="text" value="type here">
  </div>

<div class="image1">
  <img src="../assets/img/Repeat Grid 2.svg">
</div>
<p class="heading2">
  Because Our AI-Powered Software Will Exceed Your Marketing Goals.
  </p>
</div>
<div class="Ellipse11">
  <img src="../assets/img/Ellipse 11.svg">
</div>

<div class="Ellipse10">
  <img src="../assets/img/Ellipse 10.svg">
</div>
<div>
  <img src="../assets/img/instagram-icon.svg">
</div>

<div class="Ellipse9">
<img src="../assets/img/Ellipse 9.svg">
</div>
<div class="Ellipse8">
  <img src="../assets/img/Ellipse 8.svg">
  </div>
  <div>
    
    <button class="btn btn-primary">
      Bootstrap Button
    </button>
  </div>
  <button (click)="myEvent('click event triggered')">Click me</button>
  <div class="container">

  </div>

  <h1>{{app}}</h1>
  <div>
    
    <h1>{{getName()}}</h1>
  </div>

  <h1>{{obj.name}}</h1>

  <h1>{{arr[0]}} {{arr.length}}  {{arr[1]}}  </h1>
<h1>
  {{siteUrl}}
</h1>  
<app-userlist></app-userlist>
<app-login></app-login>
<app-signup></app-signup>

<button (click)="getFullName(myName)">Get my Name</button>
<br><br>
<!-- <input type="text" #box (keyup)="myEvent(box.value)"/> -->
<!-- <input type="text" #box (keyup.enter)="myEvent(box.value)"/> -->
<!-- <input type="text" #box (keyup.space)="myEvent(box.value)"/> -->
<br><br>
<input type="text" #box (blur)="myEvent('blur event triggered')"/>

<h1
(mouseover)="myEvent('mouse over')"
 style="background-colour:skyblue"
 >
  mouse event
</h1>

<h1
(mouseleave)="myEvent('mouse leave')"
 style="background-colour:red"
 >
  mouse event
</h1>




